:root {
  --cyan: hsl(178, 100%, 50%);
  --blue: hsl(217, 54%, 11%);
  --blue-light: hsl(216, 50%, 16%);
  --blue-lighter: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(215, 51%, 70%);
  --font-outfit: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--blue);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: var(--blue-light);
  width: 90%;
  max-width: 340px;
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.card__img-container {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.card__img-equilibrium {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__img-overlay {
  background-color: var(--cyan);
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 300ms;
}

.card__img-overlay:hover {
  opacity: 0.5;
  cursor: pointer;
}

.product {
  font-family: var(--font-outfit);
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-description {
  margin-bottom: 20px;
  color: var(--white);
  font-family: var(--font-outfit);
}

.product-description__title {
  font-weight: 600;
  font-size: 1.5rem;
  transition: all 300ms;
}

.product-description__title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.product-description__body {
  margin-top: 10px;
  color: var(--grayish-blue);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
}

.product-price,
.product-price__ethereum,
.product-price__time {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-price {
  justify-content: space-between;
}

.product-price__ethereum {
  color: var(--cyan);
  font-weight: 600;
  font-size: 1rem;
}

.product-price__time {
  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: 300;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--blue-lighter);
  margin-bottom: 20px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile__img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.profile__text {
  font-family: var(--font-outfit);
  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: 300;
}

.profile__user {
  color: var(--white);
  transition: all 300ms;
}

.profile__user:hover {
  color: var(--cyan);
  cursor: pointer;
}